<form [formGroup]="form" (ngSubmit)="formSubmit()" class="m-5 mb-12">
  <div class="row">
    <h5 class="divider pb-2">Informações gerais</h5>

    <app-input
      label="Nome da Clínica"
      placeholder="Ex: Clínica Amaral de Abreu"
      [fieldReference]="getReference('name')"
      [required]="true"
      name="name"
      [isText]="true"
    ></app-input>

    <app-input
      label="Nome do Responsável"
      placeholder="Ex: Amaral de Abreu"
      [fieldReference]="getReference('ownerName')"
      [required]="true"
      name="ownerName"
      [isText]="true"
    ></app-input>

    <app-input
      label="CNPJ"
      placeholder="XX.XXX.XXX/XXXX-XX"
      [fieldReference]="getReference('cnpj')"
      [required]="true"
      mask="00.000.000/0000-00"
      name="cnpj"
      [isText]="true"
    ></app-input>

    <app-input
      label="Telefone"
      placeholder="(XX) X XXXX-XXXX"
      [fieldReference]="getReference('phone')"
      [required]="true"
      mask="(XX) X XXXX-XXXX"
      name="phone"
      [isText]="true"
    ></app-input>
  </div>

  <div class="row mt-4">
    <h5 class="divider pb-2">Endereço</h5>

    <div class="form-group col-md-4">
      <app-input
        label="CEP"
        placeholder="XXXXX-XXX"
        [fieldReference]="getReference('cep')"
        [required]="true"
        [isText]="true"
        mask="00000-000"
        (fetchCepAddress)="fetchAddressByCep()"
        name="cep"
      ></app-input>
    </div>

    <div class="form-group col-md-2">
      <app-input
        label="UF"
        [fieldReference]="getReference('uf')"
        [required]="true"
        name="uf"
        [isSelect]="true"
        [options]="states"
        [isDisabled]="form.controls['uf'].disabled"
        [required]="true"
      ></app-input>
    </div>

    <div class="form-group col-md-6">
      <app-input
        label="Cidade"
        placeholder="Cidade"
        [fieldReference]="getReference('city')"
        [required]="true"
        [isText]="true"
        [isDisabled]="form.controls['city'].disabled"
        name="city"
      ></app-input>
    </div>

    <div class="form-group col-md-12">
      <app-input
        label="Bairro"
        placeholder="Cidade"
        [fieldReference]="getReference('neighborhood')"
        [required]="true"
        [isText]="true"
        [isDisabled]="form.controls['neighborhood'].disabled"
        name="neighborhood"
      ></app-input>
    </div>

    <div class="form-group col-md-12">
      <app-input
        label="Logradouro"
        placeholder="Rua Machado de Assis"
        [fieldReference]="getReference('street')"
        [required]="true"
        [isText]="true"
        [isDisabled]="form.controls['street'].disabled"
        name="street"
      ></app-input>
    </div>

    <div class="form-group col-md-4">
      <app-input
        label="Número"
        placeholder="Ex: 123"
        [fieldReference]="getReference('number')"
        [isText]="true"
        name="number"
      ></app-input>
    </div>

    <div class="form-group col-md-8">
      <app-input
        label="Complemento"
        placeholder="Perto da Igreja Matriz"
        [fieldReference]="getReference('complement')"
        [isText]="true"
        name="complement"
      ></app-input>
    </div>
  </div>

  <div class="form-row mt-4">
    <div style="display: flex; justify-content: space-evenly">
      <button type="button" class="btn btn-secondary" (click)="backToList()">
        Cancelar
      </button>
      <button type="submit" class="btn btn-primary" [disabled]="isFormValid()">
        {{ buttonLabel }}
      </button>
    </div>
  </div>

  <app-dialog *ngIf="showModal">
    <div class="dialog-content">
      <h5>{{ modalTitle }}</h5>

      <div class="btn-container">
        <button
          type="button"
          (click)="closeModalAndBackToList()"
          class="dialog-btn btn-cancel"
        >
          Não
        </button>

        <button
          (click)="closeModalAndStay()"
          class="dialog-btn btn-keep"
          type="button"
        >
          Sim
        </button>
      </div>
    </div></app-dialog
  >
</form>
