<div class="container mt-4">
  <div class="container text-center mb-3">
    <button (click)="redirectNewClinc()" class="btn btn-primary mt-3 col-md-4">
      Criar nova clínica
    </button>
  </div>

  <div class="row" style="justify-content: center">
    <default-card
      *ngFor="let clinic of clinics"
      class="m-2"
      [title]="clinic.name"
      subtitle="Responsavel: {{ clinic.ownerName }}"
      [info]="clinic | clinicInfo"
      leftButtonLabel="Remover"
      (onClickLeftButton)="delete(clinic?.id)"
      rightButtonLabel="Editar clínica"
      (onClickRightButton)="edit(clinic?.id)"
    ></default-card>
  </div>
</div>
